<!-- home.component.html -->
<section class="section">
  <img src="./images/logo.png" alt="Description of the photo" />
    <p class="title">Hawaii Mesonet Live Data Access</p>
    <!-- <p>Here is some content about the home page.</p> -->
  </section>

  <div class="container">
    <div class="left-app">
      <!-- Your left app content goes here -->
      <app-map></app-map>
    </div>
    <div class="right-app">
      <!-- Your right app content goes here -->
      <app-station-table></app-station-table>
    </div>
  </div>

  
  